<div id="<%= dom_id placed_quantity %>">
  <p>
    <strong>Report:</strong>
    <%= placed_quantity.report_id %>
  </p>

  <p>
    <strong>Bid item:</strong>
    <%= placed_quantity.bid_item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= placed_quantity.quantity %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= placed_quantity.location %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= placed_quantity.notes %>
  </p>

</div>
