<p style="color: green"><%= notice %></p>

<%= render @bid_item %>

<div>
  <%= link_to "Edit this bid item", edit_bid_item_path(@bid_item) %> |
  <%= link_to "Back to bid items", bid_items_path %>

  <%= button_to "Destroy this bid item", @bid_item, method: :delete %>
</div>
