<div id="<%= dom_id inspection_entry %>">
  <p>
    <strong>Report:</strong>
    <%= inspection_entry.report_id %>
  </p>

  <p>
    <strong>Bid item:</strong>
    <%= inspection_entry.bid_item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inspection_entry.quantity %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= inspection_entry.location %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= inspection_entry.notes %>
  </p>

</div>
