<div class="nested-row-container nested-fields">
  <div style="flex: 2;">
    <%= f.select :qa_type, 
        QaEntry.qa_types.keys.map { |k| [k.humanize.titleize, k] }, 
        { prompt: "Select Test..." }, 
        class: "form-control" %>
  </div>
  <div style="flex: 2;">
    <%= f.text_field :location, placeholder: "Location", class: "form-control" %>
  </div>
  <div style="flex: 1;">
    <%= f.select :result, 
        QaEntry.results.keys.map { |k| [k.humanize.gsub("Qa ", "").titleize, k] }, 
        { prompt: "Result..." }, 
        class: "form-control" %>
  </div>
  <div style="flex: 2;">
    <%= f.text_field :remarks, placeholder: "Remarks", class: "form-control" %>
  </div>
  <div style="text-align: center;">
    <% if f.object&.persisted? %>
       <div style="display:none;"><%= f.check_box :_destroy %></div>
       <button type="button" class="remove-row-btn" data-action="click->report-form#removeAssociation">✕ Delete</button>
    <% else %>
       <button type="button" class="remove-row-btn" data-action="click->report-form#removeAssociation">✕</button>
    <% end %>
  </div>
</div>