<div id="<%= dom_id report %>">
  <p>
    <strong>Dir number:</strong>
    <%= report.dir_number %>
  </p>

  <p>
    <strong>Inspection date:</strong>
    <%= report.inspection_date %>
  </p>

  <p>
    <strong>Inspector:</strong>
    <%= report.inspector %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= report.project_id %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= report.phase_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= report.status %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= report.result %>
  </p>

</div>
